<a href="https://colab.research.google.com/github/theruleofcats/data-science/blob/main/data-science-bootcamp/week-0/03-python-loops.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## for loops

In [ ]:
a = ["banana", "apple", "microsoft"]

In [ ]:
print(a[0])
print(a[1])
print(a[2])

banana
apple
microsoft

In [ ]:
for element in a:
  print(element)
  print(element)

banana
banana
apple
apple
microsoft
microsoft

In [ ]:
b = [20, 10, 5]

In [ ]:
total = 0
for number in b:
  total = total + number
print(total)

35

In [ ]:
c = list(range(1, 5))
print(c)

[1, 2, 3, 4]

In [ ]:
for i in range(1, 5):
  print(i)

1
2
3
4

In [ ]:
total2 = 0
for i in range(1, 5):
  total2 = total2 + i
print(total2)

10

In [ ]:
list(range(1, 8))

[1, 2, 3, 4, 5, 6, 7]

In [ ]:
total3 = 0
for i in range(1, 8):
  if i % 3 == 0:
    total3 += i
print(total3)

9

In [ ]:
print(list(range(1, 100)))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99]

In [ ]:
sum = 0
for i in range(1, 100):
  if i % 3 == 0 or i % 5 == 0:
    sum += i
print(sum)

2318

In [ ]:
fam_heights = [1.73, 1.68, 1.71, 1.89]
for height in fam_heights:
  print(height)

1.73
1.68
1.71
1.89

In [ ]:
for i in "apple":
  print(i)

a
p
p
l
e

In [ ]:
for c in "family":
  print(c.capitalize())

F
A
M
I
L
Y

In [ ]:
# enumerate

for index, height in enumerate(fam_heights):
  print("index " + str(index) + " : " + str(height))

index 0 : 1.73
index 1 : 1.68
index 2 : 1.71
index 3 : 1.89

## while loop

In [ ]:
total = 0
for i in range(1, 5):
  total += i
print(total)

10

In [ ]:
total2 = 0
j = 1

while j < 5:
  total2 += j
  j += 1

print(total)

10

In [ ]:
given_list = [5, 4, 4, 3, 1, -2, -3, -5]
total3 = 0
index = 0

while given_list[index] > 0:
  total3 += given_list[index]
  index += 1

print(total3)

17

In [ ]:
given_list = [5, 4, 4, 3, 1]
total3 = 0
index = 0

while index < len(given_list) and given_list[index] > 0:
  total3 += given_list[index]
  index += 1

print(total3)

17

## break statement

In [ ]:
given_list2 = [5, 4, 4, 3, 1, -2, -3, -5]
total4 = 0

for element in given_list2:
  total4 += element

print(total4)

7

In [ ]:
given_list2 = [5, 4, 4, 3, 1, -2, -3, -5]
total4 = 0

for element in given_list2:
  if element <= 0:
    break
  total4 += element

print(total4)

17

In [ ]:
total5 = 0
index = 0

while True:
  total5 += given_list2[index]
  index += 1
  if given_list2[index] <= 0:
    break

print(total5)

17

In [ ]:
given_list3 = [7, 5, 4, 4, 3, 1, -2, -3, -5, -7]
negative_sum = 0

for element in given_list3:
  if element < 0:
    negative_sum += element

print(negative_sum)

-17

In [ ]:
x = 1
while x < 4:
  print(x)
  x = x + 1

1
2
3

## range function

In [ ]:
for i in range(5):
  print(i, end = ", ")

0, 1, 2, 3, 4,

In [ ]:
for i in range(5, 10):
  print(i, end = ", ")

5, 6, 7, 8, 9,

In [ ]:
print("printing all even numbers between 2 and 10 using range")
for i in range(2, 10, 2):
  print(i, end = ", ")

printing all even numbers between 2 and 10 using range
2, 4, 6, 8,

## exercises

In [ ]:
numbers = list(range(1, 11))
index = 0

while index < len(numbers):
  print(numbers[index])
  index += 1

1
2
3
4
5
6
7
8
9
10

In [ ]:
list1 = [12, 15, 32, 42, 55, 75, 122, 132, 150, 180, 200]
for element in list1:
  print(element)

12
15
32
42
55
75
122
132
150
180
200

In [ ]:
number = input("enter a number: ")
number = int(number)

for index in range(1, 11):
  print(str(number) + " x " + str(index) + " = " + str(number * index))

enter a number: 2
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20

In [ ]:
grocery = ["bread", "milk", "butter"]
for index, item in enumerate(grocery):
  print("item " + str(index) + " : " + item)

item 0 : bread
item 1 : milk
item 2 : butter

In [ ]:
number = input("enter a number: ")
number = int(number)
sum = 0

for num in range(1, number):
  sum += num

print(sum)

enter a number: 3
3

In [ ]:
sequence = list(range(3, 6))
for item in sequence:
  print(item)

3
4
5

In [ ]:
sequence = list(range(3, 20, 2))
for item in sequence:
  print(item)

3
5
7
9
11
13
15
17
19

In [ ]:
string = "Python"
for index in range(len(string)):
  print(string[index], end = ", ")

P, y, t, h, o, n,