<a href="https://colab.research.google.com/github/theruleofcats/data-science/blob/main/data-science-bootcamp/week-0/04-conditionals.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## if-else statements

In [1]:
if (5 > 3):
  print("hello")

hello

In [2]:
if (3 < 2):
  print("hello")
else:
  print("the condition was not true")

the condition was not true

In [13]:
if None:
  print("hi")

if 0:
  print("hi")

In [14]:
z = 4
if (z % 2 == 0):
  print("z is even")

z is even

In [15]:
z = 5
if (z % 2 == 0):
  print("z is even")
else:
  print("z is odd")

z is odd

## relational operators

In [8]:
print(3 >= 2)
print(3 <= 2)

True
False

In [9]:
print(3 == 3)
name = "me"
print(3 == 2)
print(3 != 2)

True
False
True

## the elif statement

In [10]:
age = 16
if (age < 13):
  print("you are young")
elif (age >= 13 and age < 18):
  print("you are a teenager")
else:
  print("you are an adult")

you are a teenager

In [11]:
if (5 > 3 and 2 > 1):
  print("hi")

hi

In [12]:
if (5 > 3 or 2 < 1):
  print("hi")

hi

In [16]:
z = 5

if (z % 2 == 0):
  print("z is divisible by 2")
elif (z % 3 == 0):
  print("z is divisible by 3")
else:
  print("z is divisible neither by 2 nor by 3")

z is divisible neither by 2 nor by 3