<a href="https://colab.research.google.com/github/theruleofcats/data-science/blob/main/data-science-bootcamp/week-0/05-dictionaries.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
d = {}

In [2]:
d = dict()

In [3]:
d = {
    "george" : 24,
    "tom" : 32,
    "jenny" : 16
}

In [19]:
my_dict = {
    1: "blue",
    2: "yellow",
    3: "red"
}

## adding key-value pairs

In [4]:
empty = {}

In [6]:
empty["george"] = 24
empty["tom"] = 32
empty["jenny"] = 16

In [7]:
print(empty["george"])

24

In [8]:
print(empty["tom"])

32

In [10]:
print(empty["jenny"])
empty["jenny"] = 20

16

In [11]:
print(empty["jenny"])

20

In [12]:
empty[10] = 100

In [13]:
print(empty[10])

100

## iteration

In [20]:
for key, value in empty.items():
  print("key : " + str(key))
  print("value : " + str(value))

key : george
value : 24
key : tom
value : 32
key : jenny
value : 20
key : 10
value : 100

In [21]:
world = {
    "afghanistan" : 30.55,
    "albania" : 2.77,
    "algeria" : 39.21
}

In [22]:
for key, value in world.items():
  print(key + " : " + str(value))

afghanistan : 30.55
albania : 2.77
algeria : 39.21

## practice questions

In [24]:
length = input("enter rectangle length: ")
breadth = input("enter rectangle breadth: ")

if (length == breadth):
  print("it is a square!")
else:
  print("rectangle")

enter rectangle length: 21
enter rectangle breadth: 21
it is a square!

In [30]:
num1 = input("enter a number: ")
num2 = input("enter another number: ")
num1 = int(num1)
num2 = int(num2)

if num1 > num2:
  print(str(num1) + " is the greater of 'em all")
elif num2 > num1:
  print(str(num2) + " is the greater of 'em all")
else:
  print("hey! you entered duplicates")

enter a number: 1
enter another number: 1
hey! you entered duplicates

In [31]:
age = input("how old please? ")
age = int(age)

if age >= 18:
  print("proceed to cast your vote")
else:
  print("nah, not you yet")

how old please? 17
nah, not you yet

In [32]:
dictionary = {
    0 : 10,
    1 : 20
}

dictionary[2] = 30
print(dictionary)

{0: 10, 1: 20, 2: 30}

In [37]:
keys = ["ten", "twenty", "thirty"]
values = [10, 20, 30]
d = {}

for i in range(len(keys)):
  d[keys[i]] = values[i]

print(d)

{'ten': 10, 'twenty': 20, 'thirty': 30}

In [39]:
sampleDict = {
    "class" : {
        "student" : {
            "name" : "Mike",
            "marks" : {
                "physics" : 70,
                "history" : 80
                }
            }
        }
    }

sampleDict["class"]["student"]["marks"]["history"]

80

In [41]:
inventory = {
    "gold" : 500,
    "pouch" : ["flint", "twine", "gemstone"],
    "backpack" : ["xylophone", "dagger", "bedroll", "bread loaf"]
}

inventory["pocket"] = ["seashell", "strange berry", "lint"]
print(inventory)

{'gold': 500, 'pouch': ['flint', 'twine', 'gemstone'], 'backpack': ['xylophone', 'dagger', 'bedroll', 'bread loaf'], 'pocket': ['seashell', 'strange berry', 'lint']}

In [42]:
inventory["backpack"].sort()
print(inventory["backpack"])

['bedroll', 'bread loaf', 'dagger', 'xylophone']

In [43]:
inventory["backpack"].remove("dagger")
print(inventory["backpack"])

['bedroll', 'bread loaf', 'xylophone']

In [44]:
inventory["gold"] += 50
print(inventory["gold"])

550

## quiz questions

In [46]:
for num in range(10, 14):
  for i in range(2, num):
    if num % i == 1:
      print(num)
      break

10
11
12
13

In [47]:
x = 0
a = 0
b = -5

if (a > 0):
  if (b < 0):
    x += 5
  elif (a > 5):
    x += 4
  else:
    x += 3
else:
  x += 2

print(x)

2

In [48]:
var = 10
for i in range(10):
  for j in range(2, 10, 1):
    if var % 2 == 0:
      continue
      var += 1
      var += 1
    else:
      var += 1
print(var)

10